// color
$primary-color: #503BE9;
$scondary-color: #e9e8f1;
$wihte: #ffffff;

// border
$border-color: #eeeeee;
$border: 1px solid $border-color;

// font
$font: 14px;
$small-font: 12px;

// button
$button-height-basis: 12px;
$primary-button-height: $button-height-basis * 3;
$small-button-height: $button-height-basis * 2;
@mixin button {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  color: $primary-color;
  background-color: $scondary-color;
}
@mixin button-hover {
  color: $wihte;
  background-color: $primary-color;
}
.button {
  @include button;
  height: $primary-button-height;
  min-width: 120px;
  border-radius: $primary-button-height / 2;
  line-height: $primary-button-height;
  font-size: $font;
}
.small-button {
  @include button;
  height: $small-button-height;
  min-width: 80px;
  border-radius: $small-button-height / 2;
  line-height: $small-button-height;
  font-size: $small-font;
  &:hover {
    @include button-hover;
    box-shadow: 2px 10px 14px rgba($color: $primary-color, $alpha: 0.2);
  }
}

.big-button {
  @include button;
  min-width: 120px;
  max-width: 360px;
  width: 100%;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  &:hover {
    @include button-hover;
    box-shadow: 2px 10px 14px rgba($color: $primary-color, $alpha: 0.2);
  }
}